<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All About Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>th {
      width: 300px;
    }</style>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

<div class="row">
      <div class="col-md-12 list-group-item">
        <h2>Latest Mars News <span class="badge badge-secondary">New</span></h2>
        <h4 class="heading">{{mars_data.news_title}}</h4>
        <p>{{mars_data.news_body}}</p>
      </div>
    </div>

    <div class="row" style = "position: relative; top: 30px;">
      <div class="col-md-6 list-group-item">
        <h2>Featured Mars Image <span class="badge badge-secondary">New</span></h2>
        <img src = "{{mars_data.featured_image_url}}" width=500px>
      </div>

      <div class="col-md-6">
        <div class="card" style = "position: relative; top: 10px;">
        <div class="card-body list-group-item">
          <h5 class="card-title"><strong>Current Weather on Mars</strong></h5>
          <h6 class="card-subtitle mb-2 text-muted">Courtesy of <a href="https://twitter.com/marswxreport?lang=en">Mars Weather</a> on Twitter</h6>
          <p class="card-text">{{mars_data.mars_weather}}</p>
        </div>
      </div>
      <div class = "list-group-item" style="position: relative; top: 30px;"><table class="dataframe"> <thead> <tr style="text-align: right;"> <th></th> <th></th> </tr> <tr> <th></th> <th></th> </tr> </thead> <tbody> <tr> <th>Equatorial Diameter:</th> <td>6,792 km</td> </tr> <tr> <th>Polar Diameter:</th> <td>6,752 km</td> </tr> <tr> <th>Mass:</th> <td>6.39 × 10^23 kg (0.11 Earths)</td> </tr> <tr> <th>Moons:</th> <td>2 (Phobos &amp; Deimos)</td> </tr> <tr> <th>Orbit Distance:</th> <td>227,943,824 km (1.38 AU)</td> </tr> <tr> <th>Orbit Period:</th> <td>687 days (1.9 years)</td> </tr> <tr> <th>Surface Temperature:</th> <td>-87 to -5 °C</td> </tr> <tr> <th>First Record:</th> <td>2nd millennium BC</td> </tr> <tr> <th>Recorded By:</th> <td>Egyptian astronomers</td> </tr> </tbody> </table></div>
      </div>

    </div>

    <div class="row" style="position: relative; top: 60px; left: 15%;">
      <div class = "col-md-4 list-group-item" style="text-align: center;">
        <h4>{{mars_data.hemisphere_image_urls[0]['title']}}</h4>
        <img src="{{mars_data.hemisphere_image_urls[0]['img_url']}}" width=300px>
      </div>
      <div class = "col-md-4 list-group-item" style="text-align: center;">
        <h4>{{mars_data.hemisphere_image_urls[1]['title']}}</h4>
        <img src="{{mars_data.hemisphere_image_urls[1]['img_url']}}" width=300px>
      </div>
    </div>
    <div class = "row"  style="position: relative; top: 60px; left: 15%;">
      <div class = "col-md-4 list-group-item" style="text-align: center;">
        <h4>{{mars_data.hemisphere_image_urls[2]['title']}}</h4>
        <img src="{{mars_data.hemisphere_image_urls[2]['img_url']}}" width=300px>
      </div>
      <div class = "col-md-4 list-group-item" style="text-align: center;">
        <h4>{{mars_data.hemisphere_image_urls[3]['title']}}</h4>
        <img src="{{mars_data.hemisphere_image_urls[3]['img_url']}}" width=300px>
      </div>

    </div>

  </div>



</body>

</html>